*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    width: 100%;
    margin: auto;
}

header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}
section{
    padding: 20px;
    background-image: url(..//images/people.jpg);
    background-size:auto;
    overflow: hidden;
    background-repeat: no-repeat;
}
.formcontainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 35px;
    float: right;
    border: solid;
    border-color: salmon;
    border-radius: 10%;
 
}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 15px;
}
input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
#inscrevasse{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
    
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(..//images/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}
footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}
.picture{
    width: 160px;
}
.description{
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}
.description p, .description h3{
    margin-bottom: 20px;
}
.description h3{
    font-size: 24px;
}